<div class="row flex-lg align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img
      src="/images/About.jpg"
      width="607"
      height="510"
      class="d-block mx-lg auto img-fluid"
      loading="lazy"
      alt="About"
    />
  </div>
  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Stop overpaying for groceries!</h1>
    <p class="lead">
      Get organic produce and sustainably sourced groceries delivered at up to
      40% off grocery store prices. Save time & shop for groceries online.
      Groceries on your schedule for delivery or pickup. Skip the lines with
      grocery pickup and delivery at Eco Market.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a
        href="/products/?page=1"
        class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
        >Explore All Vegetables</a
      >
      <a href="/brands" class="btn btn-outline-secondary btn-lg px-4 me-md-2"
        >Explore All Brands</a
      >
    </div>
  </div>
</div>
