
<!-- main image and description -->

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img
      src="/images/homeimg.jpeg"
      width="607"
      height="510"
      class="d-block mx-lg auto img-fluid"
      loading="lazy"
      alt="vegetables"
    />
  </div>
  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">
      Huge selection of delicious vegetables!
    </h1>
    <p class="lead">
      Explore our huge selection of delicious vegetables including: organic
      vegetables, delicious vegan and vegetarian ingredients, gorgeous fresh
      greens.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="" class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
        >Explore all vegetables</a
      >
      <a href="" class="btn btn-outline-secondary btn-lg px-4 me-md-2"
        >Explore green</a
      >
    </div>
  </div>
</div>

<!-- Categories -->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/images/roots.jpeg" alt="roots" loading="lazy" />
    </div>
    <div class="pt-1">Roots</div>
  </a>
  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/images/leafy-greens.webp" alt="leafy-greens" loading="lazy" />
    </div>
    <div class="pt-1">Leafy Greens</div>
  </a>
  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img
        src="/images/edible-plant-stems.jpeg"
        alt="edible-plant-stems"
        loading="lazy"
      />
    </div>
    <div class="pt-1">Edible Plant Stem</div>
  </a>
</div>

<!-- Latest -->

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Latest Products</h2>
    <a href="#" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <a href="#" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="" alt="" loading="lazy" />
      </div>
      <div class="pt-1">View All</div>
    </a>
    <a href="#" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="" alt="" loading="lazy" />
      </div>
      <div class="pt-1">View All</div>
    </a>
    <a href="#" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="" alt="" loading="lazy" />
      </div>
      <div class="pt-1">View All</div>
    </a>
    <a href="#" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="" alt="" loading="lazy" />
      </div>
      <div class="pt-1">View All</div>
    </a>
    <a href="#" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="" alt="" loading="lazy" />
      </div>
      <div class="pt-1">View All</div>
    </a>
  </div>
</section>

