<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Sign in now!</h1>
  <div class="col lg-6 mx-auto">
    <p class="lead">Welcome to ECO MARKET</p>
  </div>
</div>

<div class="row justify-content-center">
  <% if (loginSucceeded.length !== 0) { %>
  <div class="col-8 alert alert-success" role="alert">
    <%- loginSucceeded %>
  </div>
  <% } %> <% if (loginFailed.length !== 0) { %>
  <div class="col-8 alert alert-danger" role="alert"><%- loginFailed %></div>
  <% } %>

  <div class="col-8">
    <form method="POST" action="/login">
      <div class="row g-3">
        <div class="col-12">
          <label for="emailorUsername" class="form-label"
            >Email or Username</label
          >
          <input
            type="text"
            name="emailorUsername"
            id="emailorUsername"
            class="form-control"
            required
          />
        </div>

        <div class="col-12">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
          />
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
